// Colors
$color-dark-grey: #393d46;
$color-light-green: #4ecca3;
$color-white: #fff;
$color-dark-blue: #283149;
$color-pink: #da0463;
$color-very-light-blue: #dbedf3;
$color-light-blue: #404b69;
$color-brown: #964b00;

// Screen break points
$dekstop-content-width: 1024px;

// Block sizes
$desktop-header-height: 200px;
$desktop-footer-height: 100px;
